.mat-expansion-panel-header-title {
  color: #fff;
  border-right: 1px solid #97a6ff;

  .mat-panel-title {
    font-size: 16px;
    color: black;
  }
}

.mat-expansion-panel-header {
  background-color: #a8b4fd !important;
}

.mat-expansion-panel-header {
  //height: 35px !important;
}

.scene-desc {
  width: 20%;
}

.scene-location {
  margin-top: 10px;
}

.mat-form-field {
  margin: 0 45px 0 0;
}
