.mat-expansion-panel-header-title {
  color: #fff;
  border-right: 1px solid #97A6FF;

  .mat-panel-title {
    font-size: 16px;
    color: black;
  }
}

.mat-expansion-panel-header {
  background-color: #A8B4FD !important;
}

.scene-desc {
  width: 20%;
}
