<!--The content below is only a placeholder and can be replaced.-->

<input
  type="file"
  accept=".txt,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
  (change)="fileUpload($event)"
>

<!--<textarea rows="30" cols="50">{{fileText}}</textarea>-->

<mat-form-field>
  <textarea
    matInput
    rows="30"
    cols="50"
    (select)="selectionChange($event)"
  >
    {{fileText}}
  </textarea>
</mat-form-field>

<!--<router-outlet></router-outlet>-->
