<!--The content below is only a placeholder and can be replaced.-->

<h1>Shooting Wizard | Script editor</h1>

<div class="scenes">
  <mat-grid-list cols="8" rowHeight="70px">
    <mat-grid-tile>
      <mat-form-field class="m-r-25">
        <input matInput type="text" placeholder="Quick search" [(ngModel)]="searchValue" />
        <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        Group by:
        <span
          (click)="sortScenesBy(groupByFieldsName)"
          [ngClass]="{ bold: groupByFieldsName === activeSortingField }"
          *ngFor="let groupByFieldsName of groupByFieldsNames; let last = last"
        >
          {{ groupByFieldsName }}
          <span *ngIf="!last"> | </span>
        </span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="scenesGroupedBy.length !== 0">
    <div *ngFor="let sceneGroupedBy of scenesGroupedBy">
      <mat-accordion [multi]="false">
        <div class="scene-location" *ngIf="activeSortingField === groupByFields.LOCATION">
          - {{ !sceneGroupedBy.location ? 'No location added' : 'Location: ' + sceneGroupedBy.location }}
        </div>

        <mat-expansion-panel
          (opened)="toggleSceneEditMode(); editScene(sceneGroupedByDetails)"
          (closed)="toggleSceneEditMode()"
          *ngFor="let sceneGroupedByDetails of sceneGroupedBy.data"
        >
          <mat-expansion-panel-header [collapsedHeight]="'35px'">
            <!--<mat-panel-title class="scene-desc" *ngIf="isSceneEditMode">-->
            <!--Scene-->
            <!--</mat-panel-title>-->
            <mat-panel-title *ngFor="let sceneDetails of (sceneGroupedByDetails | keyvalue: sortById)">
              <span [ngClass]="{ 'font-red': !sceneDetails.value && sceneDetails.key !== 'location' }">
                {{ isNeededToShowValue(sceneDetails.key) ? sceneDetails.value : sceneDetails.key }}
                {{ sceneDetails.key === 'location' && !sceneDetails.value ? '+ Add' : '' }}
              </span>
            </mat-panel-title>

            <!--<mat-panel-title>-->
            <!--{{ scene.characters | titlecase }}-->
            <!--</mat-panel-title>-->
          </mat-expansion-panel-header>

          <!--<div class="scene-field" *ngIf="isSceneEditMode">-->
          <!--<div class="scene-desc">-->
          <!--{{sceneSelected}}-->
          <!--</div>-->

          <!--<div class="scene-field__row" *ngFor="let sceneField of sceneFields">-->
          <!--{{sceneField}} + some data-->
          <!--</div>-->
          <!--</div>-->
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<app-scene-select (textSelected)="onTextSelected($event)"></app-scene-select>
