<!--The content below is only a placeholder and can be replaced.-->

<div *ngFor="let scene of scenes">
  <mat-accordion [multi]="true" >

    <mat-expansion-panel (opened)="toggleSceneEditMode()" (closed)="toggleSceneEditMode()">
      <mat-expansion-panel-header>
        <!--<mat-panel-title class="scene-desc" *ngIf="isSceneEditMode">-->
          <!--Scene-->
        <!--</mat-panel-title>-->

        <mat-panel-title *ngFor="let sceneDetails of scene | keyvalue : sortById">
          {{ sceneDetails.key | titlecase }} : {{ sceneDetails.value }}
        </mat-panel-title>

        <!--<mat-panel-title>-->
          <!--{{ scene.characters | titlecase }}-->
        <!--</mat-panel-title>-->
      </mat-expansion-panel-header>

      <!--<div class="scene-field" *ngIf="isSceneEditMode">-->
        <!--<div class="scene-desc">-->
          <!--{{sceneSelected}}-->
        <!--</div>-->

        <!--<div class="scene-field__row" *ngFor="let sceneField of sceneFields">-->
          <!--{{sceneField}} + some data-->
        <!--</div>-->
      <!--</div>-->
    </mat-expansion-panel>

  </mat-accordion>
</div>

<app-scene-select (textSelected)="onTextSelected($event)"></app-scene-select>
